<ion-header>
  <ion-navbar>
    <ion-title>Bienvenido {{displayName}}!</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="logout()">
        Cerrar Session
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <!-- <h3>Bienvenido {{username}}!</h3>
    Tu Email es: {{email}} -->
  <ion-row>
    <ion-col col-12>
      <button ion-button full large (click)="chargeCredit()">Cargar crédito</button>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col col-12>
      <button ion-button full large (click)="accountStatus()">Estado de cuenta</button>
    </ion-col>
  </ion-row> -->
  <ion-card class="per">
    <ion-card-header>
      Movimientos de la cuenta
    </ion-card-header>
    <div *ngIf="this.credit.length > 0">
      <ion-card-content>
        <!-- <ion-item-group>
          <ion-item *ngFor="let tr of credit">Fecha: {{ tr.date | date:short }} - Monto: {{ tr.amount }}</ion-item>
        </ion-item-group> -->
        <ion-grid class="grilla">
          <ion-row>
            <ion-col class="cell-header">
              Fecha
            </ion-col>
            <ion-col col-4 class="cell-header">
              Monto
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let tr of credit" class="tr">
            <ion-col class="td">
              {{ tr.date | date:short }}
            </ion-col>
            <ion-col col-4 class="td">
              {{ tr.amount }}
            </ion-col>
          </ion-row>
          <ion-row justify-content-end>
            <ion-col class="cell-header">
                TOTAL DE LA CUENTA:
            </ion-col>
            <ion-col col-4 class="cell-header">
              {{totalAmount}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
    <div *ngIf="!this.credit || this.credit.length === 0">
      <ion-card-content text-center>
        No se encuentran movimientos para mostrar
      </ion-card-content>
    </div>
  </ion-card>
  <img src="assets/imgs/cash.png" alt="">

</ion-content>
